<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <meta charset="UTF-8">
      {% block css %} {% endblock %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <title>{% block page_title %}{% endblock %}</title>
  </head>
  <body>
      <!--Navbar-->
      <nav>
        <a class="icon" href="{% url 'index' %}"> <img src="{% static 'temp/home_icon.png' %}" alt="Not found!"> </a>
        <a class="chat_home" href="{% url 'chat_home'  %}">ЧАТ</a>
        <a class="winks" href="{% url 'winks' request.user.id %}">ПОДМИГИВАНИЯ</a>
        <a class="views" href="{% url 'views' request.user.id %}">ПРОСМОТРЫ</a>
        <a class="member_profile" href="{% url 'member_profile' request.user.id %}">ПРОФИЛЬ</a>
        <a class="search" href="{% url 'search' %}">ПОИСК</a>
        <a class="logout" href="{% url 'logout' %}">ВЫЙТИ</a>
      </nav>

      <!--Page's content-->
      <div class="content_registered">
        {% block content %} {% endblock %}
      </div>

      <!--Footer-->
      <footer>
        <div class="div_top_hypers">
          <ul class="ul_top_hypers">
              <!--Можно заменить на точные ссылки-->
              <!--Атрибут target="_blank" позволяет открыть страницу в новом окне-->
              <li><a href="https://vk.com/" target="_blank"><img class="icon" src="{% static 'temp/vk_icon.png' %}" alt="Not found!"></a></li>
              <li><a href="https://web.telegram.org/" target="_blank"><img class="icon" src="{% static 'temp/tg_icon.png' %}" alt="Not found!"></a></li>
              <li><a href="https://instagram.com" target="_blank"><img class="icon" src="{% static 'temp/inst_icon.png' %}" alt="Not found!"></a></li>
          </ul>
        </div>
        <p class="about_p">Сайт знакомств, 2023</p>
      </footer>
  </body>
</html>
